

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  padding-top: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.export-heading span {
    margin-top: -19px;
    font-size: 15px;
}

.row {
    margin-top: 40px;
    padding: 0 10px;
}

.clickable {
  cursor: pointer;
}